/* 日食月食处理 */

.eclipse {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 99px;
  height: 99px;
  border-radius: 100%;
  margin: auto;
}

.eclipse-after-solar {
  animation: eclipse var(--animation-duration-solar) linear infinite;
}

.eclipse-before-solar {
  animation: shadow var(--animation-duration-solar) linear infinite;
}

.eclipse-after-lunar {
  animation: eclipse-lunar calc(var(--animation-duration-lunar) * 2) linear infinite;
}

.eclipse-before-lunar {
  animation: shadow calc(var(--animation-duration-lunar) * 2) linear infinite;
}


@keyframes eclipse {
  0% {
    left: 300px;
  }

  35%,
  40% {
    left: 0;
    background: #000;
    opacity: 90%;
  }

  50% {
    opacity: 10%;
  }

  60% {
    opacity: 0%;
  }

  100% {
    left: -300px;
  }
}

@keyframes eclipse-lunar {
  0% {
    left: 300px;
  }

  45% {
    opacity: 10%;
  }

  49%,
  50% {
    left: 0;
    background: #000;
    opacity: 90%;
  }

  55% {
    opacity: 10%;
  }

  60% {
    opacity: 1%;
  }

  100% {
    left: -300px;
  }
}