:root {
  /* 公转半径 */
  --lunar-orbit-radius: 200px;
  --earth-orbit-radius: 300px;
  /* 星体半径 */
  --earth-radius: 80px;
  --lunar-radius: 50px;
  --solar-radius: 100px;
  /* 自转周期 */
  --solar-cycle: 10s;
  --earth-cycle: 5s;
  --lunar-cycle: 2s;
  /* 公转周期 */
  --earth-orbit-cycle: 10s;
  --lunar-orbit-cycle: 5s;

  /* 视图旋转角度 */
  --view-3d-rotate: 50deg;
  --view-side-rotate: 90deg;

  
  --orbit-compress-coef: 0.3;
}

.earth_orbit_reverse {
  animation: orbit var(--earth-orbit-cycle) linear infinite reverse;
}

.solar-system {
  position: relative;
  width: 100%;
  height: 100%;
}

.solar {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: calc(-0.5 * var(--solar-radius));
  margin-top: calc(-0.5 * var(--solar-radius));
  z-index: 1;
  width: var(--solar-radius);
  height: var(--solar-radius);
  border-radius: 50%;
  overflow: hidden;
}

.earth {
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: calc(-0.5 * var(--earth-radius));
  margin-left: calc(-0.5 * var(--earth-radius));
  width: var(--earth-radius);
  height: var(--earth-radius);
  overflow: hidden;
  border-radius: 50%;

  /* 沿着轨道反向旋转 */
  animation: orbit var(--earth-orbit-cycle) linear infinite reverse;
}

.lunar {
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: calc(-0.5 * var(--lunar-radius));
  margin-left: calc(-0.5 * var(--lunar-radius));
  width: var(--lunar-radius);
  height: var(--lunar-radius);
  border-radius: 50%;
  overflow: hidden;

  /* 沿着轨道反向旋转，月球旋转速度同时叠加了月球轨道和地球轨道 */
  animation: orbit var(--lunar-orbit-cycle) linear infinite reverse;
}

/* 自转贴图 */
img{
  height: 100px;
  float: left;
  margin-right: 0px;
}
.imgList{
  position: absolute;
  display: flex;
}
.earth .imgList{
  animation: rolling var(--earth-cycle) linear infinite;
}
.solar .imgList{
  animation: rolling var(--solar-cycle) linear infinite;
}
.lunar .imgList{
  animation: rolling var(--lunar-cycle) linear infinite;
}
@keyframes rolling{
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0);
  }
}
#shadows{
  position: relative;
  transform: rotate(-22deg);
  height: 100px;
  width: 100px;
  box-shadow: 30px 0px 10px black inset;
  border-radius: 50%
}

.lunar_orbit{
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: calc(-0.5 * var(--lunar-orbit-radius));
  margin-left: calc(-0.5 * var(--lunar-orbit-radius));

  border: 3px solid grey;
  border-style: dotted;
  border-radius: 50%;
  width: var(--lunar-orbit-radius);
  height: var(--lunar-orbit-radius);

  /* 直接让轨道进行旋转 */
  animation: orbit var(--lunar-orbit-cycle) linear infinite;
}


.earth_orbit{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: calc(-0.5 * var(--earth-orbit-radius));
  margin-left: calc(-0.5 * var(--earth-orbit-radius));
  border: 3px solid grey;
  border-style: dotted;
  border-radius: 50%;
  width: var(--earth-orbit-radius);
  height: var(--earth-orbit-radius);
  /* background-color: purple; */
  
  /* 直接让轨道进行旋转 */
  animation: orbit var(--earth-orbit-cycle) linear infinite;
}
@keyframes orbit {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(-360deg);
  }
}

/* 在.view_3d 的时候，让地球立起来 */
.view_3d .earth{
  transform: rotateX(calc(-1 * var(--view-3d-rotate)));
}

.shadow {
  position: absolute;
  top: 200px;
  left: 525px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}

.view_top {
  transform-style: flat;
}
.view_side {
  transform-style: flat;
}
.view_3d {
  transform-style: preserve-3d;
  transform: rotateX(var(--view-3d-rotate));
}

/* 在view_3d情况下，让所有的图像立起来 */
.view_3d .solar {
  transform: rotateX(calc(-1 * var(--view-3d-rotate)));
}
.view_3d .bet_earth {
  /* transform: rotateX(calc(-1 * var(--view-3d-rotate))); */
}

.view_side {
  --earth-orbit-cycle: infty;
  --lunar-orbit-cycle: infty;
  animation: side_orbit 0s linear forwards;
}
.view_side .earth {
  animation: side_orbit 0s linear forwards;
}
.view_side .lunar {
  animation: side_orbit 0s linear forwards;
}
.view_side .solar {
  animation: side_orbit 0s linear forwards;
}
@keyframes side_orbit {
  /* 旋转90° */
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(90deg);
  }
}
.view_side .earth_orbit {
  margin-left: calc(calc(-1.0 * var(--orbit-compress-coef)) * var(--earth-orbit-radius));
  width: calc(calc(2.0*var(--orbit-compress-coef)) * var(--earth-orbit-radius));
}
.view_side .lunar_orbit {
  margin-left: calc(calc(-1.0 * var(--orbit-compress-coef)) * var(--lunar-orbit-radius));
  width: calc(calc(2.0*var(--orbit-compress-coef)) * var(--lunar-orbit-radius));
}
